<a href="https://colab.research.google.com/github/JM-220/pandas_-/blob/main/day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np

In [ ]:
import pandas as pd

In [ ]:
male_tuple = {'서울특별시': 473275,
					  	'부산광역시': 1668618,
						  '인천광역시': 1476813,
						  '대구광역시': 1198815,
						  '대전광역시': 734441,
						  '광주광역시': 720065}
male = pd.Series(male_tuple)
male

서울특별시     473275
부산광역시    1668618
인천광역시    1476813
대구광역시    1198815
대전광역시     734441
광주광역시     720065
dtype: int64

In [ ]:
female_tuple = {'서울특별시': 4988571,
					    	'부산광역시': 1735805,
						    '인천광역시': 1470404,
  						  '대구광역시': 1229139,
						    '대전광역시': 736599,
						    '광주광역시': 734988}
female = pd.Series(female_tuple)
female

서울특별시    4988571
부산광역시    1735805
인천광역시    1470404
대구광역시    1229139
대전광역시     736599
광주광역시     734988
dtype: int64

In [ ]:
pop_tuple = {'서울특별시': 9720846,
						'부산광역시': 3404423,
						'인천광역시': 2947217,
						'대구광역시': 2427954,
						'대전광역시': 1471040,
						'광주광역시': 1455048}
population = pd.Series(pop_tuple)
population

서울특별시    9720846
부산광역시    3404423
인천광역시    2947217
대구광역시    2427954
대전광역시    1471040
광주광역시    1455048
dtype: int64

In [ ]:
korea_df = pd.DataFrame({'인구수':population,
                        '남자인구수':male,
                        '여자인구수':female})
korea_df

           인구수    남자인구수    여자인구수
서울특별시  9720846   473275  4988571
부산광역시  3404423  1668618  1735805
인천광역시  2947217  1476813  1470404
대구광역시  2427954  1198815  1229139
대전광역시  1471040   734441   736599
광주광역시  1455048   720065   734988

In [ ]:
korea_df.index

Index(['서울특별시', '부산광역시', '인천광역시', '대구광역시', '대전광역시', '광주광역시'], dtype='object')

In [ ]:
korea_df.columns

Index(['인구수', '남자인구수', '여자인구수'], dtype='object')

In [ ]:
korea_df['여자인구수']

서울특별시    4988571
부산광역시    1735805
인천광역시    1470404
대구광역시    1229139
대전광역시     736599
광주광역시     734988
Name: 여자인구수, dtype: int64

In [ ]:
korea_df['서울특별시':'대구광역시']

           인구수    남자인구수    여자인구수
서울특별시  9720846   473275  4988571
부산광역시  3404423  1668618  1735805
인천광역시  2947217  1476813  1470404
대구광역시  2427954  1198815  1229139